/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
==============================================
custom styles
==============================================
*/
body {
	background: #7413dc;
	color: #888;
	font: 400 16px/22px 'Nunito Sans', sans-serif;
}
/*
==============================================
grid
==============================================
*/
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container {
	padding: 0 20px;
	margin: 0 auto;
	width: auto;
	max-width: 1240px;
}
.grid {
	margin: 0 auto;
	width: auto;
	max-width: 1100px;
}
.col-1-2,
.col-1-3,
.col-2-3 {
	padding-bottom: 15px;
}
.col-1-2 img,
.col-1-3 img,
.col-2-3 img {
	max-width: 100%;
	height: auto;
    width: auto\9; /* ie8 */
	display: block;
	margin: 0 auto;
	outline: 1px solid transparent;
	border-radius: 5px;
}
@media screen and (min-width: 720px) {
	.container {
		padding: 0 70px;
	}
	.col-1-2,
	.col-1-3,
	.col-2-3 {
		padding: 0 20px;
	}
	.col-1-2 {
		display: inline-block;
		vertical-align: top;
		width: 50%;
	}
	.col-1-3 {
		display: inline-block;
		vertical-align: top;
		width: 33.33%;
	}
	.col-2-3 {
		display: inline-block;
		vertical-align: top;
		width: 66.66%;
	}
}
/*
==============================================
clearfix
==============================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
/*
==============================================
row
==============================================
*/
.row,
.row-alt {
	min-width: auto;
}
.row {
	background: #fff;
	padding: 10px 20px 20px 20px;
}

.section-row {
	background: #fff;
}

.section-row p {
	color: #888;
}

@media screen and (min-width: 720px) {
	.row {
		padding: 20px 70px 30px 70px;
	}
}
/*
==============================================
typography
==============================================
*/
h1, p {
	margin-bottom: 22px;
}
h1, h2, h4, h5 {
	font-family: 'Nunito Sans', sans-serif;
	color: #7413dc;
}
h1 {
	font-size: 26px;
	line-height:44px;
}
h2 {
	font-weight: 600;
	font-size: 20px;
	line-height: 44px;
}
h3 {
	font-size: 18px;
	color:#f9f2e7;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 18px;
	margin: 15px 0;
	text-align: center;
}
strong {
	font-weight: 600;
}
cite, em {
	font-style: italic;
}
/*
==============================================
links
==============================================
*/
a:hover {
	color: #000;
}
a {
	color: #7413dc;
	text-decoration: none;
}
p a {
	border-bottom: 1px solid #dfe2e5;
}
.primary-header a,
.primary-footer a {
	color: #f9f2e7;
}
.primary-header a:hover {
	font-weight: 600;
}
a img:hover {
	opacity: 0.6;
	filter: alpha(opacity=60);
}
/*
==============================================
buttons
==============================================
*/
.btn {
	font-family: 'Nunito Sans', sans-serif;
	border-radius: 5px;
	background:#fff;
	color: #7413dc;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	margin: 0;
}
.btn-alt {
	border: 1px solid #7413dc;
	padding: 5px 20px;
}
.btn-alt:hover {
	background: #7413dc;
	color: #f9f2e7;
}
/*
==============================================
about
==============================================
*/
.about {
	color: #f9f2e7;
	line-height: 20px;
	padding: 11px 11px;
	text-align: center;
}
.about h2 {
	font-size: 20px;
    color: #f9f2e7;
}
.about p {
	font-size: 16px;
}
.about img {
	margin: 20px auto;
	display: block;
	max-width: 100%;
	height: auto;
    width: auto\9; /* ie8 */
	outline: 1px solid transparent;
}
@media screen and (min-width: 720px) {
	.about {
		padding-left: 80px;
		padding-right: 80px;
	}
}
/*
==============================================
header
==============================================
*/
.logo {
	font-size: 30px;
	letter-spacing: -.5px;
	line-height: 24px;
	padding: 10px 0;
	text-transform: uppercase;
	text-align: center;
	outline: 1px solid transparent;
}
.logotext {
	font-size: 30px;
	letter-spacing: -.5px;
	line-height: 24px;
	padding: 0 0;
	text-align: center;
	outline: 1px solid transparent;
}
.logo img {
	margin: 10px auto 0 auto;
	display: block;
	max-width: 100%;
	height: auto;
    width: auto\9; /* ie8 */
}
#super {
	position:relative;
	bottom: 0.5em;
	font-size: 0.6em;
}
.tagline {
	margin: 10px 0;
	text-align: center;
}
.nav {
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 0;
}
.nav li {
	display: inline-block;
	margin: 10px 10px;
	vertical-align: top;
}
@media screen and (min-width: 1024px) {
	.logo {
		float: left;
		height: 100px;
	}
	.logotext {
		float: left;
		position:relative;
		margin: 45px 15px;
		top: 50%;
	}
	.logo img {
		display: inline-block;
		max-width: 100%;
		height: auto;
    	width: auto\9; /* ie8 */
		vertical-align: middle;
		float: left;
	}
	.tagline {
		padding-top: 30px;
	}
	.nav, 
	.tagline {
		text-align: right;
	}
	.nav li.last-child {
		margin-right: 0;
	}
}
/*
==============================================
footer
==============================================
*/
.primary-footer small {
	width: 350px;
	margin: 0 auto;
}
.primary-footer {
	color: #f9f2e7;
	font-size: 15px;
	padding: 40px 20px;
	text-align: center;
}
@media screen and (min-width: 720px) {
	.primary-footer {
		padding-left: 70px;
		padding-right: 70px;
	}
	.primary-footer small {
		text-align: left;
		float: left;
	}
}
/*
==============================================
text transform
==============================================
*/
#activepage {
	font-weight: 600;
}
#twitter {
	font-size: 15px;
	width: 165px;
	margin: 0 auto;
}
@media screen and (min-width: 720px) {
	#twitter {
		float: right;
	}
}
/*
==============================================
map
==============================================
*/
.map {
	max-width: 100%;
	border: 0;
}
@media screen and (min-width: 720px) {
	.map {
		padding-left: 20px;
	}
}
/*
==============================================
form
==============================================
*/

input,
select,
textarea {
	font: 400 16px/22px 'Nunito Sans', sans-serif;
}
.register-group label {
	color: #7413dc;
}
.register-group input,
.register-group select,
.register-group textarea {
	border: 1px solid #c6c9cc;
	border-radius: 5px;
	display: block;
	margin: 5px 0 7px 0;
	padding: 5px 8px;
}
.register-group input,
.register-group textarea {
	width: 100%;
}
.register-group select {
	height: 34px;
	width: 60px;
}
.register-group textarea {
	height: 78px;
}
.btn-default {
	font: 400 16px/22px 'Nunito Sans', sans-serif;
	border: 1px solid #7413dc;
	padding: 5px 20px;
	background: #fff;
}
.btn-default:hover {
	background: #7413dc;
	color: #f9f2e7;
}
.form-success {
	height: 425px;
	padding-top: 32px;
}
.form-success a{
	border: 1px solid #7413dc;
	border-radius: 5px;
	padding: 5px 20px;
	margin: 0;
	color: #7413dc;
	display: inline-block;
}
.form-success a:hover {
	background: #7413dc;
	color: #f9f2e7;
}
/*
==============================================
photo links
==============================================
*/
.photo-link {
	padding-top: 12px;
	text-align: center;
}
.photo-link a{
	border: 1px solid #7413dc;
	border-radius: 5px;
	padding: 5px 20px;
	margin: 0;
	color: #7413dc;
	display: inline-block;
}
.photo-link a:hover {
	background: #7413dc;
	color: #f9f2e7;
}

/*
==============================================
banner
==============================================
*/
#banner { 
    position: absolute; 
    top: 0; 
    left: 0; 
    background-color: #FFFF77; 
    width: 100%; 
}
#banner-content { 
	text-align: center;
    margin: 0 auto; 
    padding: 10px; 
}

/*
==============================================
badge images
==============================================
*/
#badges {
	line-height: 20px;
	padding: 11px 11px;
	text-align: center;
}
#badges img {
	margin: 10px 10px;
	display: inline-block;
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}


/*
==============================================
image styles
==============================================
*/
.100px {
	height: 100px; 
	width: 100px;
}
.beaverslogo {
	height: 92px; 
	width: 332px;
}
.cubslogo {
	height: 85px; 
	width: 238px;
}
.beaverbadge {
	height: 70px; 
	width: 70px;
}
.beaverimg {
	height: auto; 
	width: 400px;
}
.twitterlogo {
	height: 14px; 
	width: 14px;
}
.iframe {
	display:none;
}
